body {
  .shg-fw .shg-box > .shg-box-content {
    max-width: 100%;
    padding: 0;
  }
  .shg-box {
    & > .shg-box-content {
      width: 100%;
      max-width: $site-width-xl;
      padding: 0 em(60);
      margin: 0 auto em(67);
      @include media-breakpoint-down('md', $grid-breakpoints) {

        margin: 0 auto em(50);
      }
      @include media-breakpoint-down('sm', $grid-breakpoints) {
        margin: 0 auto em(26);
        padding: 0 em(30);
      }
    }

    blockquote {
      font-family: "henderson-sans-basic", sans-serif;
      font-size: em(36);
      line-height: (46/36);
      letter-spacing: letterspacing-to-pixels(70, 36);
      font-weight: 700;
      margin: 0;

      @include media-breakpoint-down('md', $grid-breakpoints) {
        margin-top: em(103, 36);
        margin-bottom: em(64, 36);
      }
      @include media-breakpoint-down('sm', $grid-breakpoints) {
        font-size: em(24);
        line-height: (30/24);
        letter-spacing: letterspacing-to-pixels(70, 36);
        margin-top: em(50, 24);
      }
    }
  }
  .shg-rich-text {
    font-size: em(13);
    line-height: (22/13);
    letter-spacing: letterspacing-to-pixels(70, 13);

    p {
      margin: 0 0 em(21, 13);
    }
    & > *:last-child {
      margin-bottom: 0;
    }
    h1 {
      font-size: em(40, 13);
      margin: 0 0 em(24, 40);
    }

    h2 {
      font-size: em(36, 13);
      margin: 0 0 em(24, 36);
    }

    h3 {
      font-size: em(18, 13);
      margin: 0 0 em(24, 18);
    }

    h4 {
      font-size: em(floor($font-size-header * 0.68), 13);
      margin: 0 0 em(24, floor($font-size-header * 0.68));
    }

    h5 {
      font-size: em(floor($font-size-header * 0.58), 13);
      margin: 0 0 em(24, floor($font-size-header * 0.58));
    }

    h6 {
      font-size: em(13, 13);
      margin: 0 0 em(24, 13);
    }
    @include media-breakpoint-down('sm', $grid-breakpoints) {

      font-size: em(10);
      line-height: (16.5/10);
      letter-spacing: letterspacing-to-pixels(75, 10);
    }
  }
  .shg-row--center {
    .shg-row {
      align-items: center;
    }
  }
  .shg-sld-dots {
    margin-top: em(5);
  }
  .shg-sld-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #00727D;
    background: #fff;
    transition: background 0.15s linear;
    margin-left: 1px;
  }
  .shg-sld-dot:hover,
  .shg-sld-dot.shg-sld-active {
    background: #00727D;;
  }
  .shg-pull--left, .shg-pull--right {
    width: calc(100% + 3.750em);
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      width: calc(100% + 1.875em);
    }
  }

  .shg-pull--left {
    margin-left: em(-60);
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      margin-left: em(-30);
    }
  }

  .shg-category-col {
    width: 20%;
    margin: 0 0.5625em;
    max-width: 360px;
  }

  @include media-breakpoint-down('md', $grid-breakpoints) {
    .shg-box-content .shg-c .shg-row > .shg-c-sm-6,
    .shg-box-content .shg-c .shg-row > .shg-c-sm-4 {
      width: 100%;
    }

    .shg-pull--right .shogun-image-container {
      margin-top: em(127);
      @include media-breakpoint-down('sm', $grid-breakpoints) {

        margin-top: em(26);
      }
    }
  }
}