<div class="page page--default animated-pages page--404">
    <div class="container">
        <div class="page__header ">
            {% include 'breadcrumbs' %}
        </div>
        <div class="page__title ">
            <h1>{{ 'general.404.title' | t }}</h1>
        </div>
        <div class="page__content ">
            <p>{{ 'general.404.subtext_html' | t }}</p></div>
    </div>
</div>
