<div class="container collections-list" data-section-type="product-list" data-section-id="collections-list">
    <div class="page__header ">
        {% include 'breadcrumbs' %}
    </div>

    <div class="collections-list__btn-wrap">
        <a href="/" class="btn btn--default">continue shopping</a>
    </div>
</div>
