<div class="page page--about">
    {% section 'about-hero' %}
    {% section 'about-navigation' %}
    {% section 'about-about' %}
    {% section 'about-mission' %}
    {% section 'about-location' %}
</div>
