<div class="page page--default page--full-width">
    <div class="container">
        <div class="page__header ">
            {% include 'breadcrumbs' %}
        </div>
    </div>
    <div class="page__content animated-block">{{ page.content }}</div>
</div>
