<div class="page page--default page--careers animated-pages">
    <div class="container">
        <div class="page__header ">
            {% include 'breadcrumbs' %}
        </div>
        <div class="page__title ">
            <h1><span>{{ 'careers.general.work_with' | t }}</span> {{ 'careers.general.nean_wave' | t }}</h1>
        </div>
        <div class="page__content ">{{ page.content }}</div>
    </div>
</div>

