.address-info {

  margin: 0 0 em(27);
  &:after,
  &__title:after {
    content: '';
    width: 136px;
    height: 1px;
    background: color('light');
    display: block;
    margin: 1px 0 0 ;
  }
  &__title{
    font-size: em(20);
    letter-spacing: 0.8px;
    margin: 0 0 em(26,20);
  }
}