.block-slider {
  display: flex;
  text-align: left;
  margin-top: em(18);
  &__item {
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: 581px;
    overflow: hidden;
    &:hover {
      width: 100%;
    }
  }
  &__item-bg {
    background: no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 686px;
    margin-left: -343px;
    transition: opacity 0.3s ease-in-out;

  }

  &--is-hover {
    .block-slider__item:not(.block-slider__item--active) {
      width: 22px;
      min-width: 22px;
      .block-slider__item-text{
        opacity: 1;
      }
    }
    .block-slider__item--active {
      width: 100%;
      .block-slider__item-bg--color:not(.block-slider__item--no-image) {
        opacity: 0;
      }
      .block-slider__item-title {
        opacity: 1;
      }
    }

  }
  .block-slider__item--active {
    width: 100%;
  }
  &__item-text,
  &__item-title {
    color: color('light');
    text-transform: uppercase;
  }
  &__item-text {
    font-size: em(11.82);
    letter-spacing: letterspacing-to-pixels(80, 11.82);
    line-height: 1;
    position: absolute;
    transform: rotate(-90deg);
    left: 14px;
    z-index: 3;
    bottom: 9px;
    transform-origin: left bottom;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &__item-title {
    font-size: em(32.69);
    line-height: 1;
    letter-spacing: letterspacing-to-pixels(80, 32.69);
    position: relative;
    z-index: 1;
    padding: 7px 12px;
    opacity: 0;
  }
}
