.blog-list {
  .blog-list__row {
    align-items: flex-start;
    &:nth-child(2n) {
      margin-top: em(56);
      @include media-breakpoint-down('md', $grid-breakpoints) {
        margin-top: 0;
      }
      .blog-list__item--highlighted {
        order: 1;

        @include media-breakpoint-down('sm', $grid-breakpoints) {
          order: -1;
        }
        .post-card--highlighted {
          background: #55BE97;
          margin-left: auto;
          margin-right: em(-60);
          @include media-breakpoint-down('md', $grid-breakpoints) {
            margin-right: em(-30);
          }
        }
      }
    }

  }
  &__row {
    position: relative;
  }
  .blog-list__item--highlighted {
    .post-card--highlighted {
      padding: 0 0 em(54) em(60);
      width: calc(100%);
      color: color('white');
      background: color('primary');
      margin-left: em(-60);

      @include media-breakpoint-down('md', $grid-breakpoints) {
        width: calc(100% + 1.875em);
        margin-left: em(-30);
        padding: 0 0 em(54) em(30);
      }
    }
  }
  &__row-inner{

    @include media-breakpoint-down('md', $grid-breakpoints) {
      margin-left: em(-10);
      margin-right: em(-10);

      .col-6{
        padding-left: em(10);
        padding-right: em(10);
      }
    }
  }
}
