$block: '.customer-nav';

#{$block} {
  padding-bottom: 0.3em;

  @at-root &__item {
    padding: 0 em(9);

    @include media-breakpoint-down('md', $grid-breakpoints) {
      padding: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    .list--inline > &--wishlist,
    .list--inline > &--account,
    .list--inline > &--search {
      @include media-breakpoint-down('md', $grid-breakpoints) {
        display: none;
      }
    }
  }

  @at-root &__link {
    display: block;
    color: color('body');
    transition: transition('color');

    &:hover {
      color: color('primary');
    }

    .icon {
      color: inherit;
      height: 25px;
    }
  }

  .cart-nav__link {
    position: relative;

    &:hover {
      text-decoration: none;
    }

    .cart-nav__count {
      position: absolute;
      font-size: 10px;
      line-height: 1;
      color: color('white');
      bottom: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      user-select: none;
    }
    svg {
      fill: currentColor;
      stroke: none;
    }
  }
}

