
.defaut-filter {
  font-family: $font-stack-header;
  font-weight: 700;
  text-transform: uppercase;
  font-size: em(11);
  line-height: (15/11);
  letter-spacing: 0.9px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 0 em(60, 11);
  cursor: auto;
  @include media-breakpoint-down('md', $grid-breakpoints) {

    margin: 0 0 em(45, 11);
  }
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    height: 100%;
    overflow: auto;
    max-width: 250px;
    background: #fff;
    position: relative;
    padding-top: em(50, 11);
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0;
    font-family: inherit;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    margin-left: -250px;
  }
  &__wrapper {
    .filter {
      display: none;
    }
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 0;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      transition: opacity 0.3s ease-in-out;
      .filter {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 250px;
        padding: 0.25em 0.9375em 0.25em 1.875em;
        border-bottom: 2px solid #03707B;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        margin-left: -250px;

      }
    }
    .is-filter-show & {
      opacity: 1;
      visibility: visible;
      z-index: 100;
      .defaut-filter,
      .filter {
        margin-left: 0;
      }
    }
  }

  &__toggle-wrapper {
    display: none;
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      display: flex;
      justify-content: center;
      padding: em(24) 0;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "henderson-sans-basic", sans-serif;
    font-size: em(14);
    letter-spacing: letterspacing-to-pixels(60, 14);
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    svg {
      display: block;
      margin: em(-2, 14) em(8, 14) 0 0;
    }
    .filter__header {
      display: flex;
      align-items: center;

    }
  }

  &__item {
    margin: em(13, 11) em(15, 11) em(9, 11);
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      margin: 0;
    }
  }

  a {
    display: block;
    color: color('body');
    transition: none 0.15s linear;
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      color: color('primary');
      padding: em(11, 11) em(30, 11);
      border-bottom: 1px solid color('primary');
    }
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      height: 1px;
      width:0;
      display: block;
      margin: 1px 0 0;
      background: color('body');
      transition: width 0.15s linear;
      @include media-breakpoint-down('sm', $grid-breakpoints) {
        display: none;
      }
    }
    &:hover {
      color: color('white');
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: color('body');
      -webkit-text-fill-color: color('white');
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        text-shadow: -1px 0 color('body'), 0 1px color('body'), 1px 0 color('body'), 0 -1px color('body');
      }
      &:after {
        width: 36px;
      }
      @include media-breakpoint-down('sm', $grid-breakpoints) {
        color: color('primary');
        -webkit-text-stroke-width: 0;
        -webkit-text-fill-color: color('primary');
      }
    }

  }

  &__item--active a {
    color: color('white');
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: color('body');
    -webkit-text-fill-color: color('white');
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      text-shadow: -1px 0 color('body'), 0 1px color('body'), 1px 0 color('body'), 0 -1px color('body');
    }
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      background: color('primary');
      -webkit-text-stroke-width: 0;
      &:hover {
        color: color('primary');
        -webkit-text-fill-color: color('white');
      }
    }
    &:after {
      width: 36px;
    }
  }

}