.filters-dropdown {
  position: relative;
  text-transform: uppercase;
  text-align: right;
  font-family: $font-stack-body;

  select {
    display: none;
  }
  &__title {
    font-size: em(12);
    display: block;
    letter-spacing: 0.6px;
    line-height: (24/12);
    position: relative;
    padding: 6px 18px 5px 0;
    min-width: 127px;
    &:before {
      content: '';
      background: url(arrow.svg) no-repeat center;
      width: 11px;
      height: 6px;
      border: 0 solid;
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  &:hover {
    .filters-dropdown__items {
      visibility: visible;
      opacity: 1;
      z-index: 100;
    }
  }
  &__items {
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    position: absolute;
    right: 0;
    background: #fff;
    min-width: 160px;
    transition: opacity 0.3s ease-in-out;
  }
  &__item {
    font-size: em(11);
    display: block;
    letter-spacing: 0.9px;
    line-height: (17/11);
    color: inherit;
    padding: 0 10px 1px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  &__item--select,
  &__item:hover {
    background: #000000;
    color: #fff;
    text-decoration: none;

  }
}