.filters-dropdown {
  position: relative;
  text-transform: uppercase;
  text-align: right;
  font-family: $font-stack-body;

  select {
    display: none;
    @include media-breakpoint-down('md', $grid-breakpoints) {
      display: block;
      position: absolute;
      right:0;
      top:0;
      left:0;
      color:transparent;
      max-width: 100%;
      background: transparent;
      -moz-appearance: none;
    //  appearance: none;
    //  background: url(arrow.svg) no-repeat center right;
      border: 0 solid;
    //  text-align: right;
    //  font-size: em(12);
    //  letter-spacing: 0.6px;
    //  line-height: (24/12);
    //  position: relative;
    //  padding: 6px 18px 5px 0;
    //  min-width: 127px;
    //  font-family: $font-stack-body;
    //  text-transform: uppercase;text-align-last:right;
      &:focus{
        outline: none;
      }
    }
  }
  &__title {
    font-size: em(12);
    display: block;
    letter-spacing: 0.6px;
    line-height: (24/12);
    position: relative;
    padding: 6px 18px 5px 0;
    min-width: 127px;
    &:before {
      content: '';
      background: url(arrow.svg) no-repeat center;
      width: 11px;
      height: 6px;
      border: 0 solid;
      margin: 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  &:hover {
    .filters-dropdown__items {
      visibility: visible;
      opacity: 1;
      z-index: 100;
      @include media-breakpoint-down('md', $grid-breakpoints) {
        display: none;
      }
    }
  }
  &__items {
    visibility: hidden;
    opacity: 0;
    z-index: -100;
    position: absolute;
    right: 0;
    background: #fff;
    min-width: 160px;
    transition: opacity 0.3s ease-in-out;
  }
  &__item {
    font-size: em(11);
    display: block;
    letter-spacing: 0.9px;
    line-height: (17/11);
    color: inherit;
    padding: 0 10px 1px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  &__item--select,
  &__item:hover {
    background: #000000;
    color: #fff;
    text-decoration: none;

  }
}