.pagination {
  font-size: em(12);
  line-height: (27/12);
  margin: 0 em(-5, 12) em(50, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  a {
    color: currentColor;
    transition: border-color 0.15s linear;
    &:hover {
      text-decoration: none;
      color: currentColor;
    }
  }
  .deco,
  .page {
    min-width: 30px;
    padding: 0 em(4, 12);
    display: block;
    margin: 0 em(5, 12) em(10, 12);
    &.current,
    a:hover {
      border-color: currentColor;
    }
    a {
      display: block;
      padding: 0 em(4, 12);
      border-bottom: 1px solid rgba(#000, 0.25);
    }
  }
  .current {
    padding: 0 em(4, 12);
    border-bottom: 1px solid currentColor;
  }
  .deco {
    border-bottom: 1px solid transparent;
  }
  .prev,
  .next {
    a {
      display: block;
      background: url("pagination-arrow.svg") no-repeat center 6px;
      width: 30px;
      height: 27px;
      text-indent: -100px;
      overflow: hidden;
      transition: opacity 0.15s linear;
      &:hover{
        opacity: 0.25;
      }
    }
  }
  .prev {
    a {
      transform: rotate(-180deg);
    }
  }
}