.products-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 em(-20) 0 em(-5);
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    margin: 0 em(-8) em(-48);
    .product-card,
    .products-list__item {
      width: 100%;
      max-width: 100%;
      padding-left: em(8);
      padding-right: em(8);
    }
  }
}

.products-list--2 {
  margin: 0 em(-15) 0 0;
  @include media-breakpoint-down('md', $grid-breakpoints) {
    margin: 0 em(-27) em(-48);
  }
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    margin: 0 em(-8) em(-48);
  }
  .product-card,
  .products-list__item {
    width: 50%;
    max-width: 50%;
    &:nth-child(2n) {
      padding-left: em(35);
      padding-right: em(15);
      @include media-breakpoint-down('md', $grid-breakpoints) {

        padding-left: em(27);
        padding-right: em(27);
      }
      @include media-breakpoint-down('sm', $grid-breakpoints) {

        padding-left: em(8);
        padding-right: em(8);
      }
    }
    &:nth-child(2n - 1) {
      padding-left: em(15);
      padding-right: em(35);
      @include media-breakpoint-down('md', $grid-breakpoints) {

        padding-left: em(27);
        padding-right: em(27);
      }

      @include media-breakpoint-down('sm', $grid-breakpoints) {

        padding-left: em(8);
        padding-right: em(8);
      }
    }
  }
}

.products-list--3 {
  @include media-breakpoint-down('md', $grid-breakpoints) {
    margin: 0 em(-24) em(-48);;
  }
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    margin: 0 em(-8) em(-48);
  }
  .product-card,
  .products-list__item {
    width: 33.33%;
    max-width: 33.33%;
    padding-left: em(20);
    padding-right: em(20);
    @include media-breakpoint-down('md', $grid-breakpoints) {

      padding-left: em(24);
      padding-right: em(24);
    }
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      width: 50%;
      max-width: 50%;
      padding-left: em(8);
      padding-right: em(8);
    }
  }

}

.products-list--4 {
  .product-card,
  .products-list__item {
    width: 25%;
    max-width: 25%;
    padding-left: em(20);
    padding-right: em(20);

  }
}