$block: '.search';

#{$block} {
  @at-root &__form {
    padding: 0 1.6em;
    border-left: 2px solid color('primary');
    display: flex;
    align-items: center;

    @include media-breakpoint-down('sm', $grid-breakpoints) {

      padding: 0 em(21) 0 em(15);
    }
  }

  @at-root &__input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid color('primary');
    padding: 0 em(8,12.99);
    font-size: em(12.99);
    flex: 1;
    color: #49494A;
    outline: none;
    padding-bottom: em(3,12.99);
    margin-bottom: em(1,12.99);
    letter-spacing: letterspacing-to-pixels(90,12.99);
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      padding: 0 em(5,12.99);
    }

    .mobile-nav & {
      font-size: 16px;
    }
  }

  @at-root &__submit {
    display: block;
    width: 26px;
    color: #49494A;
    transition: transition('color');
    margin-left: 1.7em;
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      margin-left: em(18);
    }
    &:hover {
      color: color('primary');
    }

    .icon {
      width: 100%;
    }
  }
}
