.single-post {
  &__title {
    color: color('body');
    font-weight: 700;
    text-align: left;
  }
  &__image {
    width: 100%;
  }
  &__image-wrapper {
    width: calc(100% + 60px);
    margin-left: em(-60);
  }
  &__info {
    margin-bottom: em(67);
    @include media-breakpoint-down('md', $grid-breakpoints) {

      margin-bottom: em(79);
    }
  }
  &__excerpt {
    font-size: em(24);
    font-family: "henderson-sans-basic", sans-serif;
    font-weight: 700;
    line-height: (34/24);
    letter-spacing: letterspacing-to-pixels(70, 24);
    margin: em(63, 24) 0 0;
    @include media-breakpoint-down('md', $grid-breakpoints) {
      margin: em(50, 24) 0 0;
    }
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      line-height: (28/18);
      letter-spacing: letterspacing-to-pixels(70, 18);
      font-size: em(18);
      margin: em(53, 18) 0 0;
    }
  }
  &__date {
    font-size: em(11);
    line-height: (18/11);
    letter-spacing: letterspacing-to-pixels(70, 11);

    @include media-breakpoint-down('sm', $grid-breakpoints) {

      font-size: em(9);
      letter-spacing: letterspacing-to-pixels(70, 9);
    }
  }
  &__category {
    font-size: em(13);
    line-height: (15/13);
    font-family: "henderson-sans-basic", sans-serif;
    font-weight: 700;
    letter-spacing: letterspacing-to-pixels(70, 13);
    text-transform: uppercase;
    margin: 0 0 em(9, 13);
    a {
      color: inherit;
      text-decoration: none;

    }
    &:after {
      content: '';
      display: block;
      width: 36px;
      height: 1px;
      background: currentColor;
      margin: em(3, 13) 0 0;
    }
  }
  &__meta {
    margin: 0 0 em(49, 13);
    @include media-breakpoint-down('sm', $grid-breakpoints) {

      margin: 0 0 em(40);
    }
  }
  &__nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }
  }
  &__nav-text {
    font-size: em(13);
    line-height: (15/13);
    font-family: "henderson-sans-basic", sans-serif;
    font-weight: 700;
    letter-spacing: letterspacing-to-pixels(70, 13);
    text-transform: uppercase;
    position: absolute;
    cursor: pointer;
    top: 50vh;
    z-index: 11;
    &--prev {
      left: -35px;
      .single-post__nav-post-span {
        display: block;
        transform: rotate(-90deg) translate(50%, -50%);
      }
    }
    &--next {
      right: -35px;
      .single-post__nav-post-span {
        display: block;
        transform: rotate(90deg) translate(-50%, -50%);
      }
    }
  }
  &__nav-item {
    position: absolute;
    cursor: pointer;
    top: 50vh;
    z-index: 10;
    margin-top: em(-80);
  }
  &__nav-item--prev {
    left: -100%;
    transition: left 0.3s ease-in-out;
    .single-post__nav-post {
      transform: translate(0, -50%);
    }

  }
  &__nav-item--next {
    right: -100%;
    transition: right 0.3s ease-in-out;
    .single-post__nav-post {
      transform: translate(0, -50%);
    }

  }
  &__nav-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 9;
    background: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    .post-nav-show-prev &,
    .post-nav-show-next & {
      visibility: visible;
      opacity: 0.75;
    }
  }
  &__section {
    margin: 0 auto em(67);
  }
  &__nav {
    @include media-breakpoint-down('md', $grid-breakpoints) {
      display: none;
    }
  }
}

.post-nav-show-next {
  overflow: hidden;
  .single-post__nav-item--next {
      right: 0;
  }
}

.post-nav-show-prev {
  overflow: hidden;
  .single-post__nav-item--prev {
      left: 0;
  }
}

.single-post__nav-item:hover {
  & ~ .single-post__nav-overlay {
    visibility: visible;
    opacity: 0.75;
  }
}

.single-post__nav-text:hover {
  & + .single-post__nav-item {
    & ~ .single-post__nav-overlay {
      visibility: visible;
      opacity: 0.75;
    }
  }
}

.single-post__nav-item--prev:hover {
    left: 0;
}

.single-post__nav-item--next:hover {
    right: 0;
}

.single-post__nav-text--prev:hover {
  & + .single-post__nav-item {
      left: 0;
  }
}

.single-post__nav-text--next:hover {
  & + .single-post__nav-item {
      right: 0;
  }
}
