$block: '.site-nav';

#{$block} {
  font-family: font('heading');
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &:nth-child(2) {
    &::before {
      content: '';
      display: inline-block;
      width: 1px;
      background-color: color('body');
      height: 0.85em;
      vertical-align: middle;
      position: relative;
      top: 3px;
      margin: 0 1.6em;

      @include media-breakpoint-down('lg', $grid-breakpoints) {
        margin: 0 1em;
      }
    }
  }

  @at-root &__item {
    padding: 0;

    &--root {
      text-transform: uppercase;
      font-weight: 700;
      padding: 0 1.45em;
      @include media-breakpoint-down('lg', $grid-breakpoints) {
        padding: 0 1em;
      }

      @supports (-webkit-text-stroke: 1px color('body')) {
        font-weight: 400;
      }
      @include media-breakpoint-up('lg', $grid-breakpoints) {
        &.site-nav__item--dropdown-active > #{$block}__link {
          &::after {
            border-bottom-color: color('primary');
          }
          color: color('white');
          text-shadow: -1px 0 color('body'), 0 1px color('body'), 1px 0 color('body'), 0 -1px color('body');
          @supports (-webkit-text-stroke: 1px color('body')) {
            color: transparent;
            text-shadow: none;
            -webkit-text-stroke: 1px color('body');

          }
        }
      }
      & > #{$block}__link {
        &:hover {
          &::after {
            border-bottom-color: color('primary');
          }
        }

        &:hover {
          color: color('white');
          text-shadow: -1px 0 color('body'), 0 1px color('body'), 1px 0 color('body'), 0 -1px color('body');
        }

        @supports (-webkit-text-stroke: 1px color('body')) {
          font-weight: 700;
          &:hover {
            color: transparent;
            text-shadow: none;
            -webkit-text-stroke: 1px color('body');
          }
        }
      }
    }

    &--has-dropdown {
      & > #{$block}__link {
        &::after {
          content: '';
          position: absolute;
          border: 5px solid transparent;
          transition: border-color 0.15s linear;
          left: calc(50% - 5px);
          bottom: 0;
        }
      }
    }

    &--dropdown-active {
      & > #{$block}__link {
        &::after {
          border-bottom-color: color('primary');
        }
      }
    }
  }

  @at-root &__link {
    display: block;
    position: relative;
    color: color('body');
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: transition('color');
    padding-bottom: 1em;

    &:hover {
      text-decoration: none;
    }
  }

  @at-root &__label {
    text-transform: uppercase;
  }

  @at-root &__dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: color('white');
    padding: 0;
    font-family: font('body');
    //border-top: 10px solid color('primary') ;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
    visibility: hidden;
    transform: translateY(100%) scaleY(0);
    transform-origin: top;
    transition: .2s transform cubic-bezier(.165, .84, .44, 1);
    z-index: -1;

    .site-nav__label {
      @media (min-width: 1337px) {
        font-size: 10px;
      }

      @media (min-width: 1440px) {
        font-size: 11px;
      }

      @media (min-width: 1920px) {
        font-size: 14px;
      }
    }

    .site-nav__slider.slick-slider,
    .site-nav__childlist {
      position: relative;
      &:after {
        content: '';
        background: #fff;
        width: 40px;
        position: absolute;
        left: -20px;
        z-index: 1;
        top: 0;
        bottom: 0;
        display: block;
      }
    }

    .site-nav__link {
      a:hover {
        color: color('primary');
      }
    }

    .site-nav__slider.slick-slider:after {
      right: -20px;
      left: auto;
      background: color('primary');
    }

    &[data-slug="content"] {
      width: 100vw;
      left: 50%;
      will-change: transform;
      transform: translate(-50%, 100%) scaleY(0);
      &.site-nav__dropdown--active {
        transform: translate(-50%, 100%);

      }
      .site-nav__childlist-heading {
        font-size: em(11);
        line-height: (18/11);
        letter-spacing: letterspacing-to-pixels(90, 11);
        &::after {
          width: em(36);
          margin-top: 2px;
          margin-bottom: 3px;
        }
      }
      .menu-content {
        margin: 0 auto;
        max-width: 1343px;
        padding: em(25) em(60) em(16);

        & > .row {
          margin-right: em(-60);
          margin-left: em(-60);

          & > .col-12 {
            padding-right: em(60);
            padding-left: em(60);
            padding-top: em(18);
            &:first-child {
              border-right: 1px solid #231F20;
            }
          }
        }
      }
      &:after {
        display: none;
      }
      &.is-one-lookbook {
        .menu-content {
          max-width: 1051px;
          @include media-breakpoint-up('xll', $grid-breakpoints-custom) {
            max-width: 76.94vw;
          }

          & > .row > .col-12 {
            &:first-child {
              flex: 0 0 63.748%;
              max-width: 63.748%;
            }
            &:last-child {
              flex: 0 0 36.252%;
              max-width: 36.252%;
              .col-12 {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    &--visible {
      visibility: visible;
    }

    .post-card,
    .site-nav__slider-wrapper,
    .site-nav__childlist-heading,
    .site-nav__childlist-grid ul {
      opacity: 0;
      transform: translateY(20px);
      transition: .05s transform cubic-bezier(.165, .84, .44, 1), .05s opacity cubic-bezier(.165, .84, .44, 1);
      transition-delay: 0s;
    }

    &--active {
      transition: .75s transform cubic-bezier(.19, 1, .22, 1);
      transform: translateY(100%);
      .post-card,
      .site-nav__slider-wrapper,
      .site-nav__childlist-heading,
      .site-nav__childlist-grid ul {
        transform: none;
        opacity: 1;
        transition: 1s transform cubic-bezier(.19, 1, .22, 1), 0.5s opacity cubic-bezier(.19, 1, .22, 1);
      }
      .site-nav__slider-wrapper,
      .site-nav__childlist-heading {
        transition-delay: 0.6s;
      }
      .post-card,
      .site-nav__childlist-grid ul {
        transition-delay: 0.7s;
      }
      &[data-slug="content"] {
        display: block;
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: calc(50vw + 2px);
      top: 0;
      bottom: 0;
      // box-shadow: 3px 3px 8px rgba(0, 0, 0, .2);
    }

    &::before {
      left: 2px;
      transform: translateX(-100%);
      background-color: color('white');
    }

    &::after {
      right: 2px;
      transform: translateX(100%);
      background-color: color('primary');
    }

    ul {
      list-style: none;
    }
  }

  @at-root &__childlist {
    font-size: 0.8em;
    width: 100%;
    flex: 1;
    padding: 3.6em 0 3.4em;

    &-heading {
      font-family: font('body');
      margin-bottom: 0.6em;

      &::after {
        content: '';
        height: 1px;
        display: block;
        width: 3.5em;
        background-color: color('body');
        margin-top: 0.45em;
      }
    }

    #{$block}__link {
      letter-spacing: 1.5px;
    }

    &-grid {
      display: flex;
      flex-wrap: wrap;

      & > #{$block}__item {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 0 1.7em 1em;
      }

      ul {
        #{$block}__link {
          padding-bottom: 0.3em;

          &:hover {
            font-weight: 700;
          }
        }
      }
    }

    &--with-slider {
      #{$block}__childlist-grid {

        & > #{$block}__item {
          flex: 0 0 33.333%;
          max-width: 33.333%;
        }
      }
    }
  }

  @at-root &__slider {
    display: flex;
    background-color: color('primary');
    position: relative;
    z-index: 1;
    color: #FFF8E6;
    &-wrapper {
      max-width: 280px;
      flex: 0 0 280px;
      padding: 3em 0 1.7em 1.5em;
      text-align: center;
    }

    .slick-arrow {
      padding: 0 7px;
      top: calc(50% - 0.5em);
      color: #FFF8E6;

      &.slick-next {
        right: 19px;
      }

      &.slick-prev {
        left: 40px;
      }
    }

    .product-card {
      flex: 0 0 158px;
      max-width: 158px;
      margin: 0;
      text-align: center;

      &__data {
        justify-content: center;
      }

      &__title {
        font-size: 0.8em;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 0 0.5em;
        padding: 0;
      }

      &__image {
        padding-bottom: 0;

        &--featured {
          margin: 0 auto;
        }
      }

      &__vendor {
        font-family: font('heading');
        font-size: 0.7em;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.9px;
        margin-top: 0.6em;
      }

      &__collection {
        text-transform: uppercase;
        font-size: 0.5em;
      }
    }
  }
}

#AccessibleNav {
  position: relative;
}
