
.tabs {
  &__header {
    font-family: $font-stack-header;
    font-weight: 700;
    text-transform: uppercase;
    font-size: em(11);
    line-height: (15/11);
    letter-spacing: 0.9px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid color('primary');
    border-bottom: 1px solid color('primary');
    list-style: none;

  }
  &__header-item {
    margin: em(13, 11) em(15, 11) em(9, 11);
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      margin: 0;
      width: 50%;
      text-align: center;
      padding: em(12, 11) 0;
    }
  }
  &__header-link {
    display: block;
    color: color('body');
    transition: none 0.15s linear;
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      height: 1px;
      background: color('body');
      width:0;
      display: block;
      margin: 1px 0 0;
      transition: width 0.15s linear;
      @include media-breakpoint-down('sm', $grid-breakpoints) {
        margin: 1px auto 0;
      }
    }
    &:hover,
    &.active {
      color: color('white');
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: color('body');
      -webkit-text-fill-color: color('white');
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        text-shadow: -1px 0 color('body'), 0 1px color('body'), 1px 0 color('body'), 0 -1px color('body');
      }
      &:after {
        width: 36px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    color: color('primary');
    .page--default .page__content &{
      @include media-breakpoint-down('md', $grid-breakpoints) {
        font-size: em(40);
        letter-spacing: letterspacing-to-pixels(70,40);
      }
    @include media-breakpoint-down('sm', $grid-breakpoints) {
      font-size: em(30);
      letter-spacing: letterspacing-to-pixels(70,30);
    }
    }
  }
}

.page--default #support-faq .page__content h2.tabs__title {
  margin: 0 0 em(33, 30);

  @include media-breakpoint-down('md', $grid-breakpoints) {
    margin: 0 0 em(24, 30);
  }
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    margin: 0 0 em(10, 18);
  }
}

.page--default .page__content h2.tabs__title {
  margin: 0 0 em(60, 30);
  @include media-breakpoint-down('md', $grid-breakpoints) {
    margin: 0 0 em(60, 30);
  }
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    margin: 0 0 em(54, 18);
  }
}

.page--default .page__content .h6.tabs__description {
  margin: 0 0 em(77, 13);
  @include media-breakpoint-down('sm', $grid-breakpoints) {
  margin: 0 0 em(38, 10);
}
}
