

.tabs {
  &__header {
    font-family: $font-stack-header;
    font-weight: 700;
    text-transform: uppercase;
    font-size: em(11);
    line-height: (15/11);
    letter-spacing: 0.9px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid color('primary');
    border-bottom: 1px solid color('primary');
    list-style: none;
  }
  &__header-item {
    margin: em(13, 11) em(15, 11) em(9, 11);
  }
  &__header-link {
    display: block;
    color: color('body');
    transition: none 0.15s linear;
    &:hover {
      text-decoration: none;
    }
    &:after {
      content: '';
      width: 36px;
      height: 1px;
      background: transparent;
      display: block;
      margin: 1px 0 0;
      //transition: background 0.15s linear;
    }
    &:hover,
    &.active {
      color: color('white');
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: color('body');
      -webkit-text-fill-color: color('white');
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        text-shadow: -1px 0 color('body'), 0 1px color('body'), 1px 0 color('body'), 0 -1px color('body');
      }
      &:after {
        background: color('body');
      }
    }
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    color: color('primary');
  }
}
.page--default #support-faq .page__content h2.tabs__title{
  margin: 0 0 em(33,30);
}
.page--default .page__content h2.tabs__title{
  margin: 0 0 em(59,30);
}
.page--default .page__content .h6.tabs__description{
    margin: 0 0 em(77,13);
}
