body {
  -moz-font-feature-settings: "ss03";
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03";
}

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

.hide {
  display: none !important;
}

code,
pre {
  font-family: Consolas, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/*================ #Lists ================*/
ul,
ol {
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal;
}

.list--inline {
  padding: 0;
  margin: 0;
  list-style: none;

  & > li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.full--sized {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page {
  overflow: hidden;
}

a {
  transition: transition('color');
}

a:hover {
  color: color('body');
}

@include media-breakpoint-up('xll', $grid-breakpoints-custom) {
  body {
    font-size: $font-size-base_xl;
  }
}

.container {
  padding-left: em(60);
  padding-right: em(60);
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    padding-left: em(30);
    padding-right: em(30);
  }
  @include media-breakpoint-up('xll', $grid-breakpoints-custom) {
    max-width: $site-width-xl;
  }
  .main-page & {
    @include media-breakpoint-down('md', $grid-breakpoints) {
      padding-left: em(30);
      padding-right: em(30);
    }

  }
}

.row {
  margin-left: em(-30);
  margin-right: em(-30);
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: em(30);
  padding-right: em(30);
}
