.btn {
  font-family: font('heading');
  @include button-style(color('primary'));
  color: color('white');
  border: 1px solid;
  margin: 0;
  padding: 0 2em;
  display: inline-flex;
  line-height: 1;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  transition: transition('button');
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
  }
  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
  &--default {
    font-size: em(14);
    line-height: (22/14);
    letter-spacing: 0.9px;
    font-family: $font-stack-header;
    padding: em(3, 14) em(25, 14);
    border: 1px solid color('primary');
    &:hover {
      background: transparent;
      color: color('primary');
    }
  }
  &--success {
    @include button-style(color('success'));

    &:hover {
      @include button-style(darken(color('success'), 10%));
    }
  }

  &--warning {
    @include button-style(color('warning'));

    &:hover {
      @include button-style(darken(color('warning'), 10%));
    }
  }

  &--danger {
    @include button-style(color('danger'));

    &:hover {
      @include button-style(darken(color('danger'), 10%));
    }
  }

  &--outline-white {
    color: color('white');
    background-color: transparent;
    border-color: color('white');

    &:hover {
      @include button-style(darken(color('danger'), 10%));
    }
  }
  &--outline {
    color: color('primary');
    background-color: transparent;
    border-color: color('primary');

    &:hover {
      color: color('white');
      background-color: color('primary');
    }
  }
  &--md {
    font-size: em(14);
    line-height: (22/14);
    letter-spacing: 0.9px;
    padding: em(12, 14) em(25, 14);
    justify-content: center;
    border-width: 2px;
  }
  &--outline-light {
    color: color('light');
    background-color: transparent;
    border-color: color('light');

    &:hover {
      @include button-style(darken(color('danger'), 10%));
    }
  }

  &--large {
    padding: 0.9em 0.7em 0.75em;
    border-width: 2px;
    font-size: 1.1em;
  }

  &__text {
    font-size: inherit;
    line-height: 1;
  }
}

.btn--text {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
  appearance: none;
  color: inherit;
  all: unset;
  cursor: pointer;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid color('primary');
  border-bottom: none;
  border-right: none;

  &__item {
    padding: 0;
    border: none;
    border-right: 1px solid color('primary');
    border-bottom: 1px solid color('primary');
    background-color: transparent;
    color: color('primary');
    text-transform: uppercase;
    border-radius: 0;
    font-size: 0.8em;
    text-align: center;
    transition: transition('button');
    &--selected,
    &:hover {
      background-color: color('primary');
      color: color('white');
    }
  }
}
