{% schema %}
    {
    "name": {
    "en": "Page settings"
    },
    "settings": [

    {
    "id": "faq_title",
    "label": "Title",
    "type": "text",
    "default":"FREQUENTY ASKED QUESTIONS"
    }
    ]
    }
{% endschema %}
{% if section.settings.faq_title !='' %}
    <h2 class="tabs__title">{{ section.settings.faq_title }}</h2>
{% endif %}