{% schema %}
    {
    "name": {
    "en": "FAQ"
    },
    "settings": [

    {
    "id": "faq_title",
    "label": "Title",
    "type": "text",
    "default":"FREQUENTY ASKED QUESTIONS"
    }
    ],
    "blocks": [
    {
    "type": "faq",
    "name": "FAQ",
    "settings": [
    {
    "type": "text",
    "id": "faq_question",
    "label": "Question"
    },
    {
    "type": "richtext",
    "id": "faq_answer",
    "label": "Answer"
    }
    ]
    }
    ]
    }
{% endschema %}
{% if section.settings.faq_title !='' %}
    <h2 class="tabs__title">{{ section.settings.faq_title }}</h2>
{% endif %}
{% if section.blocks.size %}
    {% for block in section.blocks %}
        {% if block.settings.faq_question != blank and block.settings.faq_answer != blank %}
            <div class="faq">
                <div class="js-faq-toogle faq__header h6">
                    {{ block.settings.faq_question }}
                    <span class="faq__arrow">{% include 'icon-arrow-md' %}</span>
                </div>
                <div class="faq__content">
                    {{ block.settings.faq_answer }}
                </div>
            </div>

        {% endif %}
    {% endfor %}
{% endif %}